@import 'variables';

$font-size-root:            15px;
$font-family:               $font-name-en, $font-name;
$body-font-family:          $font-name-en, $font-name;
$heading-font-family:       $font-name-en, $font-name;

$label-font-size:           14px;
$input-font-size:           14px;
$text-field-border-radius:  6px;
$text-field-outlined-rounded-slot-padding: 0 10px;

$btn-letter-spacing:        0;
$tabs-item-letter-spacing:  0;

$border-radius-root:        5px;

$rounded: (
  0: 0,
  'sm': $border-radius-root / 2,
  'lg': $border-radius-root * 2,
  'xl': $border-radius-root * 6,
  'pill': 9999px,
  'circle': 50%
);
